<div>
    <h1>Kérdéseitek:</h1>
</div>

<div class="break"></div>
<form [formGroup]="kerdesekForm" (ngSubmit)="addComment()">


<div>
    <label for="vezname">Vezetéknév:</label>
    <!--<p><input type="text" [(ngModel)]="commentObject['vezname']"></p>-->
    <p><input type="text" formControlName="vezname"></p>
    <label for="kername">Keresztnév:</label>
    <!--<p><input type="text" [(ngModel)]="commentObject['kername']"></p>-->
    <p><input type="text" formControlName="kername"></p>

</div>
<div class="break"></div>
<div>
    <label for="comment">Kérdésed:</label>
    <!--<p><textarea rows="5" [(ngModel)]="commentObject['comment']"></textarea></p>-->
    <p><textarea rows="5" formControlName="kerdes"></textarea></p>
</div>
<div class="break"></div>
<div>
    <button type="submit">Hozzáad</button>
</div>


</form>
<div class="break"></div>

<div *ngIf="comments.length">
    <table>
        <tr>
            <th>Név</th>
            <th>Kérdés</th>
        </tr>
        <tr *ngFor="let comment of comments; let i = index;" [ngClass]="i % 2 === 0 ? 'table-header-even' : 'table-header-odd'">
            <td>{{comment.veznev | fullName: comment.kernev }}</td>
            <td>{{comment.kerdes}}</td>
        </tr>
    </table>
</div>