<div class="main_component">
    <div class="div-flex">
        <h1>Regisztráció</h1>
        <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
            <!--<div>
                <label for="email">Email: </label>
                <input type="text" formControlName="email" />
            </div>
            <div>
                <label for="password">Jelszó: </label>
                <input type="password" formControlName="jelszo" />
            </div>
            <div>
                <label for="rePassword">Jelszó újra: </label>
                <input type="password" formControlName="jelszo2" />
            </div>
            <div formGroupName="name">
                <div>
                    <label for="firstname">Vezetéknév: </label>
                    <input type="text" formControlName="veznev" />
                </div>
                <div>
                    <label for="firstname">Keresztnév: </label>
                    <input type="text" formControlName="keresztnev" />
                </div>
            </div>
            <div>
                <button type="submit">Regisztáció</button>
                <button (click)="goBack()">Vissza</button>
            </div>-->

            <mat-form-field>
                <mat-label for="email">Email: </mat-label>
                <input matInput type="text" formControlName="email" />
            </mat-form-field>
            <mat-form-field>
                <mat-label for="password">Jelszó: </mat-label>
                <input matInput type="password" formControlName="jelszo" />
            </mat-form-field>
            <mat-form-field>
                <mat-label for="rePassword">Jelszó újra: </mat-label>
                <input matInput type="password" formControlName="jelszo2" />
            </mat-form-field>
            <div formGroupName="nev" class="subForm">
                <mat-form-field>
                    <mat-label for="firstname">Vezetéknév: </mat-label>
                    <input matInput type="text" formControlName="veznev" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="firstname">Keresztnév: </mat-label>
                    <input matInput type="text" formControlName="kernev" />
                </mat-form-field>
            </div>
            <div>
                <span class="buttons">
                    <button mat-raised-button color="accent" type="submit">Register</button>
                </span><span class="buttons">
                    <button mat-raised-button color="accent" (click)="goBack()">Back</button>
                </span>
            </div>
        </form>
    </div>
</div>